{% extends "office/member/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block member_content %}

<form method='post'>
    {% csrf_token %}
    <div class="card member-form-card">
        <div class="card-body">
            {% bootstrap_form form layout='horizontal' %}
        </div>
        <div class="card-body">
            <button class="btn btn-primary" type="submit">Generate</button>
        </div>
    </div>
</form>
{% if receipts %}
    <table class="table table-bordered">
        <thead>
            <th>{% trans "Year" %}</th>
            <th>{% trans "file" %}</th>
            <th></th>
        </thead>
        <tbody>
            {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.title }}</td>
                    <td><a href="{{ receipt.document.url }}">{% trans "file" %}</a></td>
                    <td><a href="{% url "plugins:byro_gemeinnuetzigkeit:members.bescheinigung.send" pk=member.pk receipt=receipt.pk %}" class="btn btn-sm btn-info">{% trans "Send" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
